body {
    background: #ffffff;
    margin: 0;
}


header h1 {
    text-align: center;
    font-size: 5vw ;
}
nav {
    
    background: rgba(237, 182, 100, 0.863);
}
nav a {
    margin-left: 5vw;
    display: inline-block;
    font-size: 14px;
    text-decoration: none ;
    font-family: Arial, Helvetica, sans-serif;

}
nav a:hover {
    color:#ffffff
}
aside {
    width: 27%;
    float: left;  
}

aside h1,a.roy { 
    text-align: center;
    color: rgb(83, 204, 59);
    padding: 0px;
    font-weight: normal;
}
p.roy{
    color: blue;
    text-align: center;
}

a.roy { 
    color: rgb(8, 27, 4);
    padding: 20px;}

article {
    float: right;
    width: 70%;     
    margin: 5px auto;
}
article p {
    margin: 15px;
    padding: 35px 40px 5px 0;
    font-size: 13px;
    font-family: Georgia;
    line-height: 18px;
    text-emphasis: justify;

}
article img {
    width: auto;  
    align-items: center;
}

footer p {
    color: #ffffff;
    font-size: 14px;
    clear: both;
    text-align: left;
    padding: 6px 40px ;
    background-color: #d19de6;
}

/***************** contact-page*****************/

#contact-page #form {
    
    padding-left: 10px;
}
#contact-page #form input {
    height: 20px;
    width: 80%;
    border-radius: 5px;
    background: #d6d6d6;
}
#contact-page #form #message {
    width: 80vw;
    border-radius: 5px;
    background: #d6d6d6;

}
#contact-page #form #submit {
    height: 30px;
    background: rgb(59, 118, 135)

}
@media only screen and (max-width:500px) {
    /* mobil telefonlar uchun */
    nav a, aside, .left, .art, article img, #form {
        width: 100%;
    }
}
